<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/bundles/dataTablesStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")
    @RenderSection("scripts", required: false)


</head>
<style>
    .mynavbar{
        background-color: dimgrey;
        height: 160px;
    }
    #brand-image{
        height: 10px;
        
    }
    .mytext{
        position:absolute;
        right: 0%;
        padding-right: 10px; 
        top: 45px;
        font: bold;
        font-size:40px;
        color: black;
        font-family: "Helvetica Neue";
    }
</style>
<body>
    <div class="navbar mynavbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>"

                <a class="navbar-brand"  href="http://ggc.org">
                    <img od="brand-image" alt="Website Logo" src="https://www.ggc.org/images/Greenwood-Genetic-Center.png" />
                </a>
                <div ckass="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text mytext">Image Management System</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            <p> Last Updated: @DateTime.Now</p>
        </footer>
    </div>

   
    
</body>
</html>
