@model IEnumerable<IMS.ViewModels.IndexVM>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    .myactionlink:hover {
        color: black;
    }

    .myactionlink {
        color: white;
    }

    .myactionlink {
        border: double
    }

    .myactionlink {
        background-color: forestgreen
    }
</style>

<p>
    @Html.ActionLink(" Create New ", "Create", "EncounterImages", new { @class = "myactionlink" })

</p>
<!--<script src="jquery-3.4.1.js"></script>-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<div class="table-responsive">
    <!-- <table class="table table-striped table-dark table-sm">-->
    <table id="myTable" class="table table-striped table-dark table-sm">
        <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PAT_MRN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Of_Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consent)
            </th>
            <th></th>
        </tr>
            </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                string imreBase64Data = Convert.ToBase64String(item.ImageData);
                                string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                            }
                            <a download="test.jpg" href="@imgDataURL" title="Encounter Image">
                                <img src="@imgDataURL" width="150" height="150" />
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAT_MRN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Provider_1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Appointment_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.First_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Last_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date_Of_Birth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Visit_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consent)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.image_id }, new { @class = "myactionlink" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
